@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/base";

//
.box {
  @include width-height-padding(300px, 300px, 20px);
  @include pos-abs-center();

  &,
  &-inner {
    border: 3px solid $border-color;
  }

  @include mq("phone") {
    width: 100%;
    border: none;
  }

  @include mq("tablet-land") {
    border: 2px solid $border-color;
  }

  @include mq("desktop-big") {
    width: 600px;
    padding: 50px;
    border: 10px solid $border-color;
  }

  &-inner {
    @include width-height-padding(initial, 10px, 40px);
    background-color: $color-grey;

    @include mq("phone") {
      height: 55px;
    }

    &-title {
      font-size: 20px;
      color: $color-white;
      background-color: rgba($color-black, 0.5);

      @include mq("phone") {
        font-size: 40px;
      }
      @include mq("tablet-land") {
        font-size: 30px;
      }
    }
  }
}
